.display{
    display: none;
}

#wrapper {
    margin-left: 20px;
}

#view_log, #view_registration, #log_out_btn {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.label, #log_input, #pass_input, #log_btn, #cancel, #content, #repeat_pass_input, #reg_btn, #log_reg_input, #pass_reg_input, #log_reset_input, #newpass_reset_input, #lastpass_reset_input, #reset_btn {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

#log_input, #pass_input, #repeat_pass_input, #log_reg_input, #pass_reg_input, #log_reset_input, #newpass_reset_input, #lastpass_reset_input{
    margin-bottom: 10px;
    margin-top: 5px;
}

#log_out_btn, #forgot_password {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#forgot_password {
    color: #6d6d6d;
    font-weight: 400;
}

#log_btn {
    margin-bottom: 10px;
}




